@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: $font;
}

img {
    max-width: 100%;
    object-fit: cover;
}